body {
    background-image: radial-gradient(rgb(15, 15, 15)60%, rgb(92, 71, 71));
}

.title h3 {height: 50vh;}

.title {
    position:static;
}

.title, .about {
    color: white;
    letter-spacing: 3px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.about h1 {
    margin-top:8vh;
}

.title h1 {
    margin-top: 50vh;
}


nav {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    width:100%;
    top:-2%;
    left:0px;
    z-index: 12;
}

nav ul {
    background-color: black;
    list-style: none;
    text-align: center;
    padding:3px 3px;
    display:inline-table;
    width:100%;
}

nav li {
    font-size: larger;
    background-color: black;
    padding:2%;
    border:solid white 1px;
    padding-left:5%;
    padding-right: 5%;
    display:inline-block;
}

nav li a {
    color:white;
    text-decoration: none;
}

nav li a:hover {
    color:brown;
}

.whoami {
    background-color: rgba(73, 80, 87, 0.548);
    padding:1px;
    padding-left:30px;
    padding-right:30px;
    width:60%;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 11;
    position:relative;
}

.image {
    background-color: rgba(182, 16, 16, 0.418);
    padding:5px;
    margin-left:30%;
    margin-top: -2%;
    z-index: 10;
}

.blog {
    position:relative;
    background-color: rgba(165, 42, 42, 0.438);
    padding:3px;
    text-align: center;
    font-family: consolas;
}

.blog h2 {
    color:orange;
}

.blog h3 {
    color:aliceblue;
}

.blog ul{
    list-style:none;
    padding:0%;
}

.blog ul li {
    padding:10px;
    border:1px solid black;
    margin:2px 0px;
    background-color: rgb(128, 128, 128);
}

.blog ul li:hover {
    background-color: rgb(37, 37, 37);
    color:yellow;
}

.blog ul li a {
    text-decoration: none;
    color:inherit;
}

#desktopcode {
    width:100%;
    max-width: 800px;
}

#jfart {
    width:100%;
    max-width:400px;
}

#passion {
    margin-top:-2%;
    margin-bottom:2%;
}

#socials li {
    border:none;
    background-color: rgba(165, 42, 42, 0);
    display:inline;
}

#insta {
    margin-right: 30px;
}

#socials img {
    max-width: 30%;
}

#email {
    margin:auto;
}

#email tr {
    background-color: rgba(143, 79, 20, 0.74);
}

#email td {
    padding:3px 10px;
    font-weight:bold;
    border:3px solid;
}


#footy {
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: rgba(78, 78, 78, 0.37);
    text-align: center;
    padding:1px;
}

@media screen and (max-width:600px) {
    nav ul li {
        padding:2%
    }
    .whoami {
        font-size: small;
    }
}

@media screen and (min-width:900px) {
    .about h1 {
        margin-top:10vh;
    }
    nav ul li {
        padding:30px 50px;
    }
}