* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:yellow;
    background-color: rgb(46, 45, 38);
}

.portal {
    color:rgb(168, 57, 57)
}

.middle {
    text-align: center;
}